article {
  cursor: pointer;
  border-radius: 5px;
}

.movie-poster {
  height: 250px;
  width: auto;
  border-radius: 5px;
  margin: 25px 15px 0 15px;
  border: 1px solid #F3F4F6;
}

.movie-rating {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: flex-start;
  margin-left: 13px;
  letter-spacing: 8px;
  font-size: 25px;
}

@media (hover: hover) {
  .movie-poster:hover {
    box-shadow: 0px 10px -14px 14px #FFF;
  }
}
