.nav-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: double;
  border-size: 3px;
  font-family: 'Lora', serif;

}

.search-container {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.form-label {
  margin-right: 5px;
  font-family: 'Lora', serif;
}

.searchBtn {
  border: none;
  background-color: white;
  font-family: 'Lora', serif;
}

.title {
  font-size: 100px;
  font-family: 'Poiret One', cursive;
  margin-bottom: 25px;
}

input {
  font-family: 'Lora', serif;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

.navBar-p {
  font-size: 45px;
  font-family: 'Ballet', cursive;
  font-stretch: semi-expanded;
}
