.nav-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  font-family: 'Lora', serif;
  margin-bottom: 100px;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #F2F4F4;
  margin-top: 50px;
  margin-bottom: -35px;
}

.form-label {
  margin-right: 5px;
  font-family: 'Lora', serif;
  background-color: #F2F4F4;
}

.searchBtn, .about-link {
  border: none;
  background-color: #F2F4F4;
  font-family: 'Lora', serif;
  font-size: 25px;
  cursor: pointer;
  text-decoration: none;
  color: black;
  height: 35px;
}

.about-link {
  font-family: 'Poiret One', cursive;
  font-size: 40px;
  margin-top: 65px;
  margin-left: 350px;
  margin-bottom: 25px;
  padding-bottom: 40px;
}

.title {
  align-self: center;
  font-size: 70px;
  font-family: 'Poiret One', cursive;
  margin-bottom: 0px;
  margin-left: 50px;
  letter-spacing: 15px;
  color: #0B5345;
  margin-bottom: 15px;
}

.title-container {
  display: flex;
  justify-content: flex-start;
  border-style: double;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  margin-top: 50px;
}

input {
  font-family: 'Lora', serif;
  background-color: #F2F4F4;
  font-size: 25px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

.navBar-p {
  font-size: 30px;
  font-family: 'Ballet', cursive;
  letter-spacing: 5px;
}

@media (hover: hover) {
  .about-link:hover, .searchBtn:hover {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-style: double;
  }
}
