.nav-bar-container {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin: 20px;
  font-family: 'Lora', serif;
}

.white-movie-reel {
  display: inline-flex;
  height: 13vh;
  width: auto;
  margin-left: 30px;
}

.title {
  display: inline-flex;
  font-family: 'Poiret One', cursive;
  font-size: 4em;
  font-weight: 800;
  color: #39414D;
}

.about-link {
  font-family: 'Poiret One', cursive;
  color: #F9FBFA;
  font-size: 35px;
}

.navBar-p {
  font-size: 2rem;
  font-family: 'Ballet', cursive;
  color: white;
  letter-spacing: 5px;
}

.search-container {
  display: flex;
  margin-right: 50px;
}

.form-input {
  margin-right: 5px;
  padding: 5px;
  font-family: 'Lora', serif;
  background-color: #F2F4F4;
  color: #39414D;
  font-size: 20px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

.searchBtn {
  border: 1px solid white;
  padding: 5px;
  font-family: 'Lora', serif;
  font-size: 20px;
  cursor: pointer;
  color: white;
  background-color: none;
}

@media screen and (max-width: 1000px) {
  .navBar-p {
    display: none
  }
}

