.nav-bar-container {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 20px;
  font-family: 'Lora', serif;
}

.title {
  display: inline-flex;
  font-family: 'Poiret One', cursive;
  font-size: 50px;
  height: fit-content;
  font-weight: 800;
  color: #39414D;
}

.about-link {
  font-family: 'Poiret One', cursive;
  color: #F9FBFA;
  font-size: 35px;
  margin: 50px 10px 10px 10px;
}

.navBar-p {
  font-size: 2rem;
  font-family: 'Ballet', cursive;
  color: white;
  letter-spacing: 5px;
}

.search-container {
  display: flex;
  margin-right: 50px;
}

.form-input {
  margin-right: 5px;
  padding: 5px;
  font-family: 'Lora', serif;
  background-color: #F2F4F4;
  color: #39414D;
  font-size: 15px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

.searchBtn {
  border: 1px solid white;
  padding: 5px;
  font-family: 'Lora', serif;
  font-size: 15px;
  cursor: pointer;
  color: white;
  background-color: none;
}

@media screen and (max-width: 1000px) {
  .navBar-p {
    display: none
  }

  .nav-bar-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
  }  
}

@media screen and (max-width: 450px) {
  
}

  @media (hover: hover) {
  .about-link:hover, .searchBtn:hover {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-style: double;
  }
}

