article {
  cursor: pointer;
  border-radius: 2px;
}

img {
  height: 300px;
  width: auto;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

@media (hover: hover) {
  .movie-card:hover {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }
}
