article {
  cursor: pointer;
  border-radius: 2px;
}

.movie-poster {
  height: 300px;
  width: auto;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.movie-rating {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: flex-start;
  letter-spacing: 8px;
  font-size: 25px;
}

@media (hover: hover) {
  .movie-poster:hover {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }
}
