.trailer {
  position:fixed;
  top:0;
  height:100%;
  width:100%;
  background: rgba(0, 0, 0, 0.699);
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: openTrailer 500ms ease-in;
}

.trailer-container {
  position: relative;
}
